.hero {
    background: url(../images/case-study/chance-encounter/splash-3-large.png);
    background-size: cover;
}

.section ol {
    margin-left: 36px;
}

.section ol li {
    list-style-type: decimal;
}

.findings .img-1 {
    width: 100%;
    margin-bottom: 50px;
}

.findings .img-2 {
    width: 100%;
    margin-bottom: 20px;
}

.findings .caption {
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-need img {
    width: 75%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-need .caption {
    text-align: center;
}

.reframing img {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.meet-cute img {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.meet-cute .caption {
    text-align: center;
    width: 75%;
    margin-bottom: 40px;
}

.design-process .highlight {
    margin: 10px 0;
}

.design-process .demo-video {
    margin-top: 50px;
}

.design-process .demo-video .caption {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.interactions img {
    width: 100%;
    margin: 30px 0;
}

.gamification img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
}