.design > a {
    color: var(--secondary-color);
}

.case-container {
    margin-top: 70px;
    padding: 50px 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case {
    height: 450px;
    width: 500px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid var(--main-color);
    background: rgb(47, 19, 19);
    cursor: pointer;
}

.case-category {
    color: white;
    background: black;
    font-size: 20px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid var(--main-color);
}

.category-text {
    padding-top: 5px;
}

.category-decor {
    display: flex;
    margin-right: 5px;
}

.category-decor > div {
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid var(--main-color);
}

.case-content1 {
    background: black;
    background: url(../images/case-study/persuasive-design/apple-picking.gif);
}

.case-content2 {
    background: black;
}

.case-content3 {
    background: black;
}

.case-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

.case-title {
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 410px;
    padding: 10px;
    margin-bottom: 5%;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}

/* //////////////////MOBILE/////////////////// */

@media (max-width: 768px) { 
    .case-container {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .case {
        height: 700px;
        margin-bottom: 50px;
    }

    .case2 {
        margin-top: 0;
    }
}

/* //////////////////SUBPAGE/////////////////// */

.blog-container {
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    margin-top: 70px;
}

.blog-container p {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.splash {
    width: 100%;
    height: 500px;
    border: 1px solid var(--main-color);
    margin: 50px 0;
}

.title h1 {
    font-size: 57px;
    margin: 20px 0;
}

.title h3 {
    font-size: 27px;
    color: white;
    font-weight: normal;
    margin: 5px 0;
}

.tag h3 {
    font-size: 27px;
    color: var(--tertiary-color);
    font-weight: 600;
    margin-bottom: 10px;
}

.tags {
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
}

.tag {
    width: 33%;
}

.overview h1 {
    font-size: 47px;
    margin-bottom: 20px;
}

.overview {
    margin-top: 130px;
    margin-bottom: 70px;
}

.research-and-ideation h1 {
    font-size: 47px;
    margin: 20px 0;
}

.research-and-ideation h2 {
    font-size: 37px;
    color: var(--tertiary-color);
    margin: 20px 0;
}

.research-and-ideation .img {
    height: 500px;
}