/* 
.directory {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 300;
    position: fixed;
    margin-left: 60px;
}

.directory li {
    padding: 5px;
} */

.blog-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 110px;
}

.body-text {
    color: white;
    font-size: 22px;
    font-weight: 300;
}

.body-text span {
    color: var(--secondary-color);
}

.bolded-body-text {
    color: var(--tertiary-color);
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.splash {
    width: 100%;
    height: 500px;
    border: 1px solid var(--main-color);
    margin: 40px 0;
}

.title h1 {
    font-size: 57px;
    margin: 20px 0;
}

.tagline {
    font-size: 27px;
    color: white;
    font-weight: 300;
    margin: 5px 0;
}

.tags {
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
}

.tag {
    width: 33%;
}

.overview h1 {
    font-size: 47px;
    margin-bottom: 20px;
}

.overview {
    border: 1px solid var(--main-color);
    border-radius: 32px;
    padding: 40px 50px;
    margin: 100px 0;
}

.research-and-ideation h1 {
    font-size: 47px;
    margin: 20px 0;
}

.research-and-ideation h2 {
    font-size: 37px;
    color: var(--tertiary-color);
    margin: 20px 0;
}

.research-and-ideation .img-container {
    margin: 40px 0;
    height: 238px;
    display: flex;
    justify-content: space-between;
}

.research-and-ideation .img {
    height: 100%;
    width: 32%;
    /* border-radius: 16px; */
}

.blog-container .caption {
    color: var(--caption);
    font-size: 20px;
    font-style: italic;
}

.caption span {
    font-weight: 600;
}

.caption {
    margin-bottom: 50px;
}

.img1 {
    background: url(../images/case-study/persuasive-design/study-group-1.png);
    background-size: cover;
}

.img2 {
    background: url(../images/case-study/persuasive-design/study-group-2.png);
    background-size: cover;
}

.img3 {
    background: url(../images/case-study/persuasive-design/study-group-3.png);
    background-size: cover;
}

.finding {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

.finding .graphic {
    width: 150px;
    margin-left: 30px;
    margin-right: 50px;
    display: flex;
}

.finding1 {
    margin-top: 50px;
}

.finding1 .graphic {
    border: 1px solid var(--tertiary-color);
}

.finding2 .component {
    border: 1px solid var(--tertiary-color);
    width: 50%;
}

.finding3 .component {
    border: 1px solid var(--tertiary-color);
    width: 33%;
}

.finding .bolded-body-text {
    margin-top: 0;
}

.finding3 {
    margin-bottom: 100px;
}

.ideation .img {
    width: 100%;
    margin: 40px 0;
}

.ideation img {
    width: 100%;
    /* border-radius: 32px; */
}

.img .caption {
    text-align: center;
    margin: 10px 0;
}

.rapid-prototyping {
    margin: 150px 0;
}

.rapid-prototyping h1 {
    font-size: 47px;
    margin: 40px 0;
}

.rapid-prototyping .title span {
    text-decoration: line-through;
}

.big-img {
    width: 100%;
    margin: 40px 0;
}

.big-img img {
    width: 100%;
}

.big-img .caption {
    text-align: center;
    margin: 10px 0;
}





