/* /////////////////////// SUB NAV //////////////////////// */

.directory {
    font-weight: 300;
    position: fixed;
    margin-left: 65px;
}

.directory li {
    padding: 5px;
    cursor: pointer;
}

.directory li:hover {
    color: var(--secondary-color);
}

.directory-link {
    color: var(--main-color);
    font-size: 20px;
}

.directory .circle {
    width: 25px;
    height: 25px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    margin: 10px 0;
}

.directory .circle:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease;
}

/* ////////////////////// UNIVERSAL /////////////////////// */

body a {
    text-decoration: none;
}

.design a {
    color: var(--secondary-color);
}

/* centers content w/ fixed width */
.blog-container {
    width: 65%;
    margin: 0 auto;
    margin-top: 110px;
}

.section {
    margin: 100px 0;
}

.sub-section {
    margin: 80px 0;
}

/* title of the page */
h1 {
    color: var(--main-color);
    font-size: 50px;
    margin: 20px 0;
    font-weight: 700;
}

/* title of a section */
h2 {
    color: var(--main-color);
    font-size: 35px;
    margin: 20px 0;
    font-weight: 600;
}

/* title of a sub-section */
h3 {
    color: var(--tertiary-color);
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0;
}

/* used in paragraph */
.body-text {
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
}

/* for highlighting body text */
.body-text span {
    color: var(--secondary-color);
}

/* for sub-headings smaller than h2 */
.bolded-body-text {
    color: var(--tertiary-color);
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.blog-container li {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 4px 0;
}

/* small text under image */
.caption {
    color: var(--caption);
    font-size: 18px;
    font-style: italic;
}

/* bolded */
.caption span {
    font-weight: 600;
}

.highlight {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    color: var(--secondary-color);
    margin: 28px 0;
}

/* div that spans blog-container */
.big-img {
    width: 100%;
    margin: 40px 0;
}

.big-img img {
    width: 100%;
}

/* ///////////////////// SECTION 0 ////////////////////// */

.hero {
    width: 100%;
    height: 500px;
    margin: 40px 0;
}

#tagline {
    font-size: 26px;
    /* color: white; */
    color: var(--tertiary-color);
    font-weight: 300;
    margin: 5px 0;
}

.tags {
    width: 100%;
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
}

.tag {
    width: 33%;
}

.tag .body-text {
    font-size: 20px;
}

/* ///////////////////// SECTION 1 ////////////////////// */

/* .overview {
    border: 1px solid var(--main-color);
    border-radius: 32px;
    padding: 40px 50px;
    margin: 100px 0;
} */

.overview h2 {
    margin-top: 0;
}

/* ///////////////////// SECTION 2 ////////////////////// */

.problem {
    margin-top: 20px;
}

.research-and-ideation .img-container {
    margin: 40px 0;
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.research-and-ideation .img {
    height: 100%;
    width: 32%;
    /* border-radius: 16px; */
}

.img1 {
    background: url(../images/case-study/persuasive-design/study-group-1.png);
    background-size: cover;
}

.img2 {
    background: url(../images/case-study/persuasive-design/study-group-2.png);
    background-size: cover;
}

.img3 {
    background: url(../images/case-study/persuasive-design/study-group-3.png);
    background-size: cover;
}

.findings {
    margin: 50px 0;
}

.finding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.number-graphic {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--tertiary-color);
    width: 4%;
    margin-left: 3%;
}

.no-border {
    border: none;
}

.number-graphic .component-1-no-right {
    width: 50%;
    border: 1px solid var(--tertiary-color);
    border-right: none;
}

.number-graphic .component-1 {
    border: 1px solid var(--tertiary-color);
    height: 100%;
    width: 50%;
}

.number-graphic .component-2-no-right {
    width: 33%;
    border: 1px solid var(--tertiary-color);
    border-right: none;
}

.number-graphic .component-2 {
    border: 1px solid var(--tertiary-color);
    height: 100%;
    width: 33%;
}

.finding .text {
    margin-left: 20px;
    width: 88%;
}

.finding .bolded-body-text {
    margin-top: 0;
}

.ideation .img {
    width: 100%;
    margin: 40px 0;
}

.ideation img {
    width: 100%;
    /* border-radius: 32px; */
}

.img .caption {
    text-align: center;
    margin: 10px 0;
}

/* ///////////////////// SECTION 3 ////////////////////// */

.rapid-prototyping {
    margin: 150px 0;
}

.rapid-prototyping .title span {
    text-decoration: line-through;
}

.composition-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

.composition-1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.text-container {
    border: 1px solid var(--tertiary-color);
    border-radius: 16px;
    padding: 20px;
    /* margin: 20px 0; */
}

.instruction {
    margin-bottom: 40px;
}

.composition-1 .bolded-body-text {
    margin-top: 0;
}

.composition-1 li {
    font-size: 19px;
    list-style-type: decimal;
    margin-left: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.composition-1-right {
    width: 50%;
}

.carousel-1 {
    width: 100%;
    height: 100%;
    background: url(../images/case-study/persuasive-design/apple-picking.jpeg);
    background-size: cover;
}

.carousel-2 {
    width: 100%;
    height: 100%;
    background: url(../images/case-study/persuasive-design/balloons.png);
    background-size: cover;
}

.carousel-3 {
    width: 100%;
    height: 100%;
    background: url(../images/case-study/persuasive-design/break-block.gif);
    background-size: cover;
}

.rapid-prototyping .img-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.rapid-prototyping .img-container img {
    width: 50%;
}

.rapid-prototyping .caption {
    text-align: center;
    margin: 10px 0;
}

.negative-thought .img-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.negative-thought .img {
    width: 48%;
}

.negative-thought .img-1 {
    background: url(../images/case-study/persuasive-design/flow3.png);
    background-size: cover;
}

.negative-thought .img-2 {
    background: url(../images/case-study/persuasive-design/flow3.gif);
    background-size: cover;
}

.negative-thought .composition-1-right .body-text {
    margin-bottom: 50px;
}


/* ///////////////////// SECTION 4 ////////////////////// */

.two-column-composition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    width: 48%;
    border: 1px solid var(--tertiary-color);
    border-radius: 16px;
    padding: 20px;
}

.column .bolded-body-text {
    margin-top: 0;
}

/* ///////////////////// SECTION 5 ////////////////////// */

.conclusion .img-container {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.conclusion .img {
    width: 49%;
}

.conclusion .img-1 {
    background: url(../images/case-study/persuasive-design/conclusion-1.jpg);
    background-size: cover;
}

.conclusion .img-2 {
    background: url(../images/case-study/persuasive-design/conclusion-2.jpg);
    background-size: cover;
}

.conclusion .caption {
    text-align: center;
    margin: 10px 0;
}

/* ///////////////////// RESPONSIVE ////////////////////// */

@media (max-width: 1300px) {

    .blog-container {
        width: 75%;
    }

}

@media (max-width: 1024px) {

    .blog-container {
        width: 85%;
    }

}

@media (max-width: 768px) {

    * {
        overflow-x: hidden;
    }

    .directory {
        display: none;
    }

    .blog-container {
        margin-top: 40px;
        width: 95%;
    }

    .section {
        margin: 30px 0;
    }

    .sub-section {
        margin: 30px 0;
    }

    .caption {
        font-size: 16px;
    }

    /* /////////////////////////////// */

    .hero {
        height: 300px;
        margin: 20px 0;
    }

    .body h1 {
        font-size: 35px;
    }

    .body h2 {
        font-size: 32px;
    }

    .body h3 {
        font-size: 28px;
    }

    .body .bolded-body-text {
        font-size: 22px;
    }

    .body .body-text {
        font-size: 18px;
    }

    /* ////////////////////////////// */

    .tags {
        flex-direction: column;
    }

    .tag {
        width: 100%;
    }

    .tags .bolded-body-text {
        font-size: 28px;
    }

    .tags .body-text {
        font-size: 24px;
    }

    /* ////////////////////////////// */

    .research-and-ideation h2 {
        margin-bottom: 0;
    }

    .problem {
        margin-top: 0;
    }

    .research-and-ideation .img-container {
        flex-direction: column;
        height: auto;
        margin: 10px 0;
    }

    .research-and-ideation .img {
        width: 100%;
        height: 260px;
        margin: 5px 0;
    }

    /* ////////////////////////////// */

    .composition-1 {
        flex-direction: column;
    }

    .body .blog-container li {
        font-size: 18px;
        list-style-type: decimal;
    }

    .composition-1-left {
        width: 100%;
    }

    .composition-1-right {
        width: 100%;
        margin-top: 40px;
    }

}
