/* /////////////////////// SUB NAV //////////////////////// */

.directory {
    font-weight: 300;
    position: fixed;
    margin-left: 60px;
}

.directory li {
    padding: 5px;
    cursor: pointer;
}

.directory li:hover {
    color: var(--secondary-color);
}

.directory-link {
    color: var(--main-color);
    font-size: 20px;
}

/* ////////////////////// UNIVERSAL /////////////////////// */

.design a {
    color: var(--secondary-color);
}

/* centers content w/ fixed width */
.blog-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 110px;
}

.section {
    margin: 100px 0;
}

.sub-section {
    margin: 80px 0;
}

/* title of the page */
h1 {
    color: var(--main-color);
    font-size: 57px;
    margin: 20px 0;
}

/* title of a section */
h2 {
    color: var(--main-color);
    font-size: 47px;
    margin: 20px 0;
}

/* title of a sub-section */
h3 {
    color: var(--tertiary-color);
    font-size: 37px;
    margin: 20px 0;
}

/* used in paragraph */
.body-text {
    color: white;
    font-size: 22px;
    font-weight: 300;
}

/* for highlighting body text */
.body-text span {
    color: var(--secondary-color);
}

/* for sub-headings smaller than h2 */
.bolded-body-text {
    color: var(--tertiary-color);
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.blog-container li {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 4px 0;
}

/* small text under image */
.caption {
    color: var(--caption);
    font-size: 20px;
    font-style: italic;
}

/* bolded */
.caption span {
    font-weight: 600;
}

.highlight {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    color: var(--secondary-color);
    margin: 28px 0;
}

/* div that spans blog-container */
.big-img {
    width: 100%;
    margin: 40px 0;
}

.big-img img {
    width: 100%;
}

.big-img .caption {
    text-align: center;
    margin: 10px 0;
}

/* ///////////////////// SECTION 0 ////////////////////// */

.hero {
    width: 100%;
    height: 500px;
    margin: 40px 0;
    /* border: 1px solid var(--main-color); */
}

.hero .video {
    width: 100%;
    height: 100%;
}

.tagline {
    font-size: 27px;
    color: white;
    font-weight: 300;
    margin: 5px 0;
}

.tags {
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
}

.tag {
    width: 33%;
}

/* ///////////////////// SECTION 1 ////////////////////// */

/* .overview {
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    padding: 40px 50px;
    margin: 100px 0;
} */

.overview h2 {
    margin-top: 0;
}

/* ///////////////////// SECTION 2 ////////////////////// */

.problem {
    margin-top: 20px;
}

.research-and-ideation .img-container {
    margin: 40px 0;
    height: 238px;
    display: flex;
    justify-content: space-between;
}

.research-and-ideation .img {
    height: 100%;
    width: 32%;
    /* border-radius: 16px; */
}

.img1 {
    background: url(../images/case-study/persuasive-design/study-group-1.png);
    background-size: cover;
}

.img2 {
    background: url(../images/case-study/persuasive-design/study-group-2.png);
    background-size: cover;
}

.img3 {
    background: url(../images/case-study/persuasive-design/study-group-3.png);
    background-size: cover;
}

.findings {
    margin: 50px 0;
}

.finding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.number-graphic {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--tertiary-color);
    width: 4%;
    margin-left: 3%;
}

.no-border {
    border: none;
}

.number-graphic .component-1-no-right {
    width: 50%;
    border: 1px solid var(--tertiary-color);
    border-right: none;
}

.number-graphic .component-1 {
    border: 1px solid var(--tertiary-color);
    height: 100%;
    width: 50%;
}

.number-graphic .component-2-no-right {
    width: 33%;
    border: 1px solid var(--tertiary-color);
    border-right: none;
}

.number-graphic .component-2 {
    border: 1px solid var(--tertiary-color);
    height: 100%;
    width: 33%;
}

.finding .text {
    margin-left: 20px;
    width: 88%;
}

.finding .bolded-body-text {
    margin-top: 0;
}

.ideation .img {
    width: 100%;
    margin: 40px 0;
}

.ideation img {
    width: 100%;
    /* border-radius: 32px; */
}

.img .caption {
    text-align: center;
    margin: 10px 0;
}

/* ///////////////////// SECTION 3 ////////////////////// */

.rapid-prototyping {
    margin: 150px 0;
}

.rapid-prototyping .title span {
    text-decoration: line-through;
}

.composition-1 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

.composition-1-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.text-container {
    border: 1px solid var(--tertiary-color);
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0;
}

.composition-1 .bolded-body-text {
    margin-top: 0;
}

.composition-1 li {
    list-style-type: decimal;
    margin-left: 20px;
}

.composition-1-right {
    width: 55%;
    height: 100%;
}

.carousel{
    width: 100%;
    height: 100%;
    background: plum;
    /* background: url(../images/case-study/persuasive-design/tree-setup.jpeg); */
    /* background-size: cover; */
}





