/* //////////////////HERO/////////////////// */

.description {
    display: flex;
    width: auto;
    margin: 0;
    font-size: 20px;
}

.hero {
    margin-top: 70px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 60px;
    text-align: center;
    padding: 80px 120px;
}

#hero-text-title {
    height: 190px;
    /* color: var(--tertiary-color); */
    z-index: 5;
}

#activate {
    background: black;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 8px;
    margin-top: 24px;
}

#activate h2 {
    color: var(--secondary-color);
    font-weight: 400;
    font-family: "Silkscreen", sans-serif;
    font-size: 16px;
}

#activate:hover {
    box-shadow: 5px 5px 0 var(--secondary-color);
    transition: 0.3s ease;
}

#blob {
    position: absolute;
    z-index: -1;
    width: 982px;
    height: 659px;
}

.about {
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 100px 200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-img {
    width: 38%;
    height: 100%;
    background: url(../images/about.png);
    background-size: cover;
    transform: rotate(-2deg);
    /* border: 1px solid var(--main-color); */
    border-radius: 4px;
    box-shadow: -10px 10px 0 var(--main-color);
}

.about-img:hover {
    background: url(../images/about-colored.png);
    background-size: cover;
    transform: rotate(-5deg);
    transition: 0.3s ease;
}

.about-text {
    width: 50%;
    height: 100%;
    margin-left: 50px;
}

.about-title {
    font-size: 40px;
    font-family: 'Silkscreen', monospace;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 32px;
}

.about-body {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.about-link {
    font-weight: 300;
    color: var(--main-color);
    margin-right: 32px;
    margin-top: 24px;
}

.about-link a {
    font-family: 'Silkscreen', monospace;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    color: var(--main-color);
    font-size: 16px;
    padding: 8px;
    text-decoration: none;
}

.about-link a:hover {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 5px 5px 0 var(--secondary-color);
    transition: 0.3s ease;
}

@media (max-width: 1300px) {
    .about {
        padding: 100px 100px;
    }

    .description {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .description {
        font-size: 16px;
    }

    .about {
        padding: 100px 50px;
        height: 750px;
    }

    .about-img {
        height: 60%;
    }
}

@media (max-width: 768px) {

    .description {
        font-size: 14px;
    }

    .hero {
        width: 100vw;
    }
    
    .hero-text {
        font-size: 30px;
        padding: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    #hero-text-title {
        height: 150px;
    }

    #activate h2 {
        font-size: 14px;
    }

    #blob {
        width: 400px;
        height: 400px;
        overflow-x: hidden;
        top: 240px;
        left: 6px;
    }

    .about {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0 30px;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    
    .about-img {
        margin-bottom: 50px;
        width: 95%;
        height: 300px;
        box-shadow: -8px 8px 0 var(--main-color);
    }

    .about-text {
        width: 100%;
        margin: 20px 0;
    }

    .about-title {
        font-size: 26px;
    }

    .about-body {
        font-size: 18px;
    }

    .about-link a {
        font-size: 18px;
    }
}