:root {
    --main-color: #D6BDFF;
    --secondary-color: #75FFEE;
    --tertiary-color: #A8CBFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: black;
    overflow-x: hidden;
}

h1 {
    color: var(--main-color);
}

/* //////////////////NAV/////////////////// */

special-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    border-bottom: 1px solid var(--main-color);
    background: black;
}

li {
    list-style: none;
}

a {
    font-size: 24px;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    font-weight: 600;
    gap: 6px;
}

.nav-branding {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    margin: 0 40px;
}

.nav-branding:hover {
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.nav-item > a {
    color: var(--main-color);
}

.nav-item > a:hover {
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--main-color);
}

/* //////////////////MOBILE/////////////////// */

@media (max-width: 768px) {
    .nav-branding {
        margin: 0 8px;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        background: black;
        position: fixed;
        margin: 0;
        left: 100%;
        top: 71px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-links.active {
        left: 0;
    }
}