:root {
    --main-color: #D6BDFF;
    --secondary-color: #75FFEE;
    --tertiary-color: #A8CBFF;
    --red: #FF86B2;
    --orange: #FFBDBD;
    --yellow: #FFF8BD;
    --green: #BDFFE3;
    --caption: #9F9F9F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    /* cursor: url(../images/mouse.png), auto;  */
    /* cursor: none; */
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    overflow-x: hidden;
}

h1 {
    color: var(--main-color);
}

.secondary-highlight {
    color: var(--secondary-color);
}

/* //////////////////NAV/////////////////// */

special-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav {
    border-bottom: 1px solid var(--main-color);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

li {
    list-style: none;
}

a {
    font-size: 22px;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 40px 0 40px;
    font-weight: 500;
    gap: 6px;
}

.nav-branding {
    color: var(--main-color);
    font-family: 'Silkscreen';
    font-size: 24px;
    font-weight: 400;
    margin: 5px 40px 0 40px;
}

.nav-branding:hover {
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.nav-item > a {
    /* font-family: 'Silkscreen'; */
    /* font-weight: 400; */
    color: var(--main-color);
    /* text-decoration: underline; */
}

.nav-item > a:hover {
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--main-color);
}

.footer {
    background: url(https://i.pinimg.com/originals/46/1e/09/461e091a9bfeff233d5e9fd239507990.gif);
    /* background: black; */
    background-size: cover;
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
    text-align: center;
    padding: 24px 0;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer > p {
    margin: 0 24px;
}


/* //////////////////LOAD/////////////////// */

#load {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#load span {
    color: var(--secondary-color);
    font-family: 'Silkscreen';
    font-size: 60px;
    animation: bounce 0.5s ease infinite alternate;
    position: relative;
}

#load span:nth-child(2) {
    animation-delay: 0.1s;
}

#load span:nth-child(3) {
    animation-delay: 0.2s;
}

#load span:nth-child(4) {
    animation-delay: 0.3s;
}

#load span:nth-child(5) {
    animation-delay: 0.4s;
}

#load span:nth-child(6) {
    animation-delay: 0.5s;
}

#load span:nth-child(7) {
    animation-delay: 0.6s;
}

#load span:nth-child(8) {
    animation-delay: 0.7s;
}

#load span:nth-child(9) {
    animation-delay: 0.8s;
}

#load span:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes bounce {
    100% {
        top: 10px;
        color: var(--main-color);
    }
}

/* //////////////////MOBILE/////////////////// */

@media (max-width: 768px) {

    #load span {
        font-size: 30px;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.8);
    }

    .nav-branding {
        margin: 0 8px;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        position: fixed;
        height: 92vh;
        padding: 150px 0;
        margin: 0;
        left: 100%;
        top: 70.5px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: 1px solid var(--main-color);
    }

    .nav-item a {
        font-size: 32px;
        font-family: 'Silkscreen';
    }

    .nav-links.active {
        left: 0;
    }

    .footer {
        flex-direction: column;
        text-align: left;
    }

    .footer .rights {
        margin-top: 30px;
    }
}